# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#! This folder is not necessary in the VITE builder, since your stylesheet file is: 
#! link rel="stylesheet" href="./scss/main.scss" />
/src/css/