//? ==============  map ==============
// * ================= break-points ===================
$break-points: (
    sm: 320px,
    md: 575px,
    lg: 767px,
    xl: 992px,
    xxl: 1600px,
);

//? ======== function ========
// * ================= break-points ===================
@function getBreakPoint($break-point) {
    @return map-get($break-points, $break-point);
}