//! -------------------- outline --------------------
//todo var.1
// @mixin outline($size: 1px, $type: solid, $color) {
//     outline: $size $type $color;
// }

//todo var.2
@mixin outline($size: 1px, $type: solid, $color: tomato) {
	outline: $size $type $color;
}

//! ----------- SASS-flex-властивості (flex-контейнери-міксіни) -----------
@mixin flex_JCcen {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

@mixin flex_AIcen {
	display: flex;
	flex-direction: row;
	align-items: center;
}

//! ----------- SASS: Загальні стилі Заголовків -----------
@mixin title-section() {
	// font-family: getFont('font-family');
	font-weight: 600;
	font-size: 24px;
	line-height: 3.33;
	color: getColor('dark');
	text-align: center;
	@media (min-width: getBreakPoint('md')) {
		font-size: 30px;
		line-height: 2.67;
	}

	@media (min-width: getBreakPoint('xl')) {
		font-size: 36px;
		line-height: 2.22;
	}

	@media (min-width: getBreakPoint('xxl')) {
		font-size: 48px;
		line-height: 1.67;
	}
}
@mixin title-card() {
}

//! ----------- SASS: Загальні стилі Kнопок -----------
@mixin button($width: 178px, $height: 50px) {
	width: $width;
	height: $height;
	border-radius: 5px;
	color: white;
	background-color: #263238;
	font-size: 18px; //різні
	font-weight: 500;
}
@mixin button-lets-talk($width: 160px, $height: 50px, $font-size: 18px) {
	width: $width;
	height: $height;
	border: 2px solid #263238;
	border-radius: 5px;
	font-weight: 400;
	font-size: $font-size;
	color: getColor('dark');
	background-color: transparent;
}
