//? ==============  map ==============
// * ================= fonts ===================
// $fonts: (
//     main-family: ,

// );
// * ================= colors ==================
$colors: (
	dark: #000000,

);



//? ======== function ========
// * ================= fonts ===================
@function getFont($font) {
    @return map-get($fonts, $font);
}
// * ================= colors ==================
@function getColor($color) {
    @return map-get($colors, $color);
}
//? _______________________________________________



//? == Cписок, або масив значень (icons) ==
$icons: "premium-quality", "indelible-paint", "fast-shipping";
//? ______________________________________________

//? == Cписок, або масив значень (images) ==
$images-benefits: "shoelace", "lining", "logo", "mesh", "sole";
//? ______________________________________________