//? ==============  map ==============
// * ================= fonts ===================
$fonts: (
    font-family: "Poppins",
);


// * ================= colors ==================
$colors: (
	dark: #000000,

);



//? ======== function ========
// * ================= fonts ===================
@function getFont($key) {
    @return map-get($fonts, $key);
}
// * ================= colors ==================
@function getColor($key) {
    @return map-get($colors, $key);
}
//? _______________________________________________
