.header {
	background-color: #ffff8d;
	padding-top: 36px;
	padding-bottom: 32px;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
        @media (min-width: getBreakPoint('xl')){
            
        }
	}
	&__nav{
		display: flex;
	}
	//! Медіа-запити
	&-list {
		display: none;
		@media (min-width: getBreakPoint('xl')) {
			display: flex;
		}
	}
	.button-menu-toggle {
		background-color: transparent;
		&__md, &__lg{
			display: none;
		}
		@media (min-width: getBreakPoint('md')){
            &__sm{
				display: none;
			}
			&__md{
				display: block;
			}
        }
		@media (min-width: getBreakPoint('lg')){
			&__md{
				display: none;
			}
			&__lg{
				display: block;
			}
            
        }
        @media (min-width: getBreakPoint('xl')){
            display: none;
        }
	}
	&__btn {
		display: none;
		@media (min-width: getBreakPoint('xl')) {
			display: block;
			@include button-lets-talk();
		}
		@media (min-width: getBreakPoint('xxl')){
			// @include button-lets-talk(220px, 70px, 24px);
			width: 220px;
			height: 70px;
			font-size: 24px;
		}
	}
}

