.header {
	background-color: #ffff8d;
	padding-top: 36px;
	padding-bottom: 32px;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
        @media (min-width: getBreakPoint('xl')){
            
        }
	}
	&__nav{
		display: flex;
	}
	//! Медіа-запити
	&-list {
		display: none;
		@media (min-width: getBreakPoint('xl')) {
			display: flex;
		}
	}
	.button-menu-toggle {
        @media (min-width: getBreakPoint('xl')){
            display: none;
        }
	}
	&__btn {
		display: none;
		@media (min-width: getBreakPoint('xl')) {
			display: block;
		}
	}
}
