.skills {
	background-color: #ffdde3;
	font-family: getFont('font-family');
	.title {
		@include title-section;
		margin-bottom: 32px;
	}
	.skills-list {
		display: flex;
		gap: 21px;
		flex-direction: column;
		&__item {
			background-color: #f5f5f5;
			padding: 10px 17px 44px 15px;
		}
		&__title {
			font-weight: 600;
			font-size: 18px;
			line-height: 444%;
			color: #263238;

			&::before {
				content: '';
				display: block;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
		&__text {
			font-weight: 400;
			font-size: 13px;
			color: #8f95a5;
		}
		// &__title::before {
		// 	content: '';
		// 	display: block;
		// 	background-repeat: no-repeat;
		// 	background-position: center;
		// }
		&__title:nth-child(1)::before {
			height: 213px;
			background-image: url(../images/03_1_skills_background-sm.svg);
		}
		&__btn {
			padding: 14px 43px;
			background-color: #263238;
			color: #fff;
			font-weight: 500;
			font-size: 14px;
			border-radius: 4px;
			font-family: getFont('font-family');
		}
	}
}
