.skills {
	background-color: #ffdde3;
	font-family: getFont('font-family');
	.title {
		@include title-section;
		margin-bottom: 32px;
	}
	.skills-list {
		 display: flex;
		 gap: 21px;
		 flex-direction: column;

		@media (min-width: getBreakPoint('md')) {
			 flex-wrap:wrap;
			 column-gap: 30px;
			 row-gap: 34px;
             flex-direction: row;
		}
		&__item {
			background-color: #f5f5f5;
			padding: 10px 17px 44px 15px;
			@media (min-width: getBreakPoint('md')) {
				width:240px;
			}
			&:nth-child(1) .skills-list__title::before {
				height: 213px;
				background-image: url(../images/03_1-1_skills_background-sm.svg);
			}
			&:nth-child(2) .skills-list__title::before {
				height: 204px;
				background-image: url(../images/03_1-2_skills_background-sm.svg);
			}
			&:nth-child(3) .skills-list__title::before {
				height: 157px;
				background-image: url(../images/03_1-3_skills_background-sm.svg);
			}
			&:nth-child(4) .skills-list__title::before {
				height: 154px;
				background-image: url(../images/03_1-4_skills_background-sm.svg);
			}
			

		}
		&__title {
			font-weight: 600;
			font-size: 18px;
			line-height: 444%;
			color: #263238;

			&::before {
				content: '';
				display: block;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
		&__text {
			font-weight: 400;
			font-size: 13px;
			color: #8f95a5;
			margin-bottom: 36px
		}
		// &__item:nth-child(1) .skills-list__title::before {
		// 	height: 213px;
		// 	background-image: url(../images/03_1_skills_background-sm.svg);
		// }
		&__btn {
			// padding: 14px 43px;
			// background-color: #263238;
			// color: #fff;
			// font-weight: 500;
			// font-size: 14px;
			// border-radius: 4px;
			// font-family: getFont('font-family');
			@include button(200px, 60px);
			font-size: 14px;
		}
		&__text--2{
			font-weight: 400;
			font-size: 13px;
			color: #8f95a5;
			margin-bottom: 36px
		}
	}
}
