.skills {
	background-color: #ffdde3;
	font-family: getFont('font-family');
	.title {
		@include title-section;
		margin-bottom: 32px;
	}
	.skills-list {
		 display: flex;
		 gap: 21px;
		 flex-direction: column;

		@media (min-width: getBreakPoint('md')) {
			 flex-wrap:wrap;
			 column-gap: 30px;
			 row-gap: 34px;
             flex-direction: row;
		}
		&__item {
			background-color: #f5f5f5;
			padding: 10px 17px 44px 15px;
			@media (min-width: getBreakPoint('md')) {
				flex-grow: 1;
				width:240px; 
				&:nth-child(1){	
				}
				&:nth-child(2){
				}
				&:nth-child(3){
				}
				&:nth-child(4){

				}
			}
			&:nth-child(1) .skills-list__title::before {
				height: 213px;
				background-image: url(../images/03_2-1_skills_background-sm.svg);
				@media (min-width: getBreakPoint('md')){
					height:185px ;
					background-image: url(../images/03_2-1_skills_background-md.svg);
				}
			}
			&:nth-child(2) .skills-list__title::before {
				height: 204px;
				background-image: url(../images/03_1-2_skills_background-sm.svg);
				@media (min-width: getBreakPoint('md')){
					height:182px ;
					background-image: url(../images/03_2-2_skills_background-md.svg);
				}
			}
			&:nth-child(3) .skills-list__title::before {
				height: 157px;
				background-image: url(../images/03_1-3_skills_background-sm.svg);
				@media (min-width: getBreakPoint('md')){
					height:132px ;
					background-image: url(../images/03_2-3_skills_background-md.svg);
				}
			}
			&:nth-child(4) .skills-list__title::before {
				height: 154px;
				background-image: url(../images/03_1-4_skills_background-sm.svg);
				@media (min-width: getBreakPoint('md')){
					height:137px;
					background-image: url(../images/03_2-4_skills_background-md.svg);
				}
			}
			

		}
		&__title {
			font-weight: 600;
			font-size: 18px;
			line-height: 444%;
			color: #263238;

			&::before {
				content: '';
				display: block;
				background-repeat: no-repeat;
				background-position: center;
			}
		}
		&__text {
			font-weight: 400;
			font-size: 13px;
			color: #8f95a5;
			margin-bottom: 36px;

			@media (min-width: getBreakPoint('md')){
           font-size: 12px;
			}
		}
		&__btn {
			@include button(200px, 60px);
			font-size: 14px;
			@media (min-width: getBreakPoint('md')){
				height: 50px;
			}
		}
		&__text--2{
			font-weight: 400;
			font-size: 13px;
			color: #8f95a5;
			margin-bottom: 36px;
			@media (min-width: getBreakPoint('md')){
				margin-bottom: 28px;
				font-size: 12px;
			}
		}
	}
}
