#<nav class="header__nav">
	<load ="/partials/components/main-logo.html" />
	<ul class="header-list">
		<li class="header-list__item js-item">
			<a class="header-list__link" href="./index.html">Home</a>
		</li>
		<li class="header-list__item js-item">
			<a class="header-list__link" href="#skills">Skills</a>
		</li>
		<li class="header-list__item js-item">
			<a class="header-list__link" href="#about">About Us</a>
		</li>
		<li class="header-list__item js-item">
			<a class="header-list__link" href="#pricing">Pricing</a>
		</li>
		<li class="header-list__item js-item">
			<a class="header-list__link" href="#contacts">Contacts</a>
		</li>
	</ul>
</nav>
