<header class="header">
	<div class="container">
		<load ="/partials/components/header-nav.html" />
		<button class="button-menu-toggle js-open-menu">
			<svg class="button-menu-toggle__sm" width="34" height="19">
				<use href="/images/icon-sprite.svg#header_burger-button-sm"></use>
			</svg>
			<svg class="button-menu-toggle__md" width="43" height="24">
				<use href="/images/icon-sprite.svg#header_burger-button-md"></use>
			</svg>
			<svg class="button-menu-toggle__lg" width="34" height="19">
				<use href="/images/icon-sprite.svg#header_burger-button-lg"></use>
			</svg>
		</button>
		<load ="/partials/components/button-lets-talk.html" />
	</div>
</header>
