<section class="skills">
	<div class="container">
		<h2 class="skills-title">skills</h2>
		<ul class="skills-list">
			<li class="skills-list__item">
				<img class="skills-list__img" />
				<h3 class="skills-list__title">Speaking</h3>
				<p class="skills-list__text">
					Improve your English skills and confidence. Live classes and
					interactive lessons online. 20% extra free for a limited time only
				</p>
				<p class="skills-list__text">
					Learn English online and improve your skills through our high-quality
					courses and resources – all designed for adult language learners.
				</p>
				<button class="skills-list__btn">Learn more</button>
			</li>
			<li class="skills-list__item">
				<img class="skills-list__img" />
				<h3 class="skills-list__title">Speaking</h3>
				<p class="skills-list__text">
					Improve your English skills and confidence. Live classes and
					interactive lessons online. 20% extra free for a limited time only
				</p>
				<p class="skills-list__text">
					Learn English online and improve your skills through our high-quality
					courses and resources – all designed for adult language learners.
				</p>
				<button class="skills-list__btn">Learn more</button>
			</li>
			<li class="skills-list__item">
				<img class="skills-list__img" />
				<h3 class="skills-list__title">Speaking</h3>
				<p class="skills-list__text">
					Improve your English skills and confidence. Live classes and
					interactive lessons online. 20% extra free for a limited time only
				</p>
				<p class="skills-list__text">
					Learn English online and improve your skills through our high-quality
					courses and resources – all designed for adult language learners.
				</p>
				<button class="skills-list__btn">Learn more</button>
			</li>
			<li class="skills-list__item">
				<img class="skills-list__img" />
				<h3 class="skills-list__title">Speaking</h3>
				<p class="skills-list__text">
					Improve your English skills and confidence. Live classes and
					interactive lessons online. 20% extra free for a limited time only
				</p>
				<p class="skills-list__text">
					Learn English online and improve your skills through our high-quality
					courses and resources – all designed for adult language learners.
				</p>
				<button class="skills-list__btn">Learn more</button>
			</li>
		</ul>
	</div>
</section>
