<section class="skills" id="skills">
	<div class="container">
		<h2 class="title">skills</h2>
		<ul class="skills-list">
			<li class="skills-list__item">
				<h3 class="skills-list__title">Speaking</h3>
				<p class="skills-list__text">
					Improve your English skills and confidence. Live classes and
					interactive lessons online. 20% extra free for a limited time only
				</p>
				<p class="skills-list__text--2">
					Learn English online and improve your skills through our high-quality
					courses and resources – all designed for adult language learners.
				</p>
				<button class="skills-list__btn">Learn more</button>
			</li>
			<li class="skills-list__item">
				<h3 class="skills-list__title">Speaking</h3>
				<p class="skills-list__text">
					One of the most important and extensive areas of natural science, the
					science that studies substances, also their composition
				</p>
				<button class="skills-list__btn">Learn more</button>
			</li>
			<li class="skills-list__item">
				<h3 class="skills-list__title">Reading</h3>
				<p class="skills-list__text">
					perception and response actions of the user resulting from the use and
					or up coming use of the product, system or service
				</p>
				<button class="skills-list__btn">Learn more</button>
			</li>
			<li class="skills-list__item">
				<h3 class="skills-list__title">Listening</h3>
				<p class="skills-list__text">
					Here you can find activities to practise your listening skills.
					Listening will help you to improve your understanding
				</p>
				<button class="skills-list__btn">Learn more</button>
			</li>
		</ul>
	</div>
</section>
