<section class="pricing">
    <div class="container">
        <h2 class="pricing-title">Pricing</h2>
        <ul class="pricing-list">
            <li class="pricing-list__item">
                <img src="" alt="" class="pricing-list__img" />
                <h3 class="pricing-list__title">Self-study online course</h3>
                <p class="pricing-list__text">Start learning English online in live classes
                    with qualified EC teachers and students 
                    from all over the world.</p>
                <button class="pricing-list__btn"> £5.99
                    per month</button>
            </li>
            <li class="pricing-list__item">
                <img src="" alt="" class="pricing-list__img" />
                <h3 class="pricing-list__title">Live online classes</h3>
                <p class="pricing-list__text">Interactive group classes with expert 
                    teachers. Free 7-day trial</p>
                <button class="pricing-list__btn">  £12.99
                    per month</button>
            </li>
            <li class="pricing-list__item">
                <img src="" alt="" class="pricing-list__img" />
                <h3 class="pricing-list__title">Personal Tuition</h3>
                <p class="pricing-list__text">Online one-to-one English tutoring – enjoy 
                    our first session for only $1</p>
                <button class="pricing-list__btn">  £20.99
                    per month</button>
            </li>
        </ul>
    </div>

</section>