<section class="contacts" id="contacts">
	<div class="container">
		<h2 class="contacts-title">contacts</h2>
		<p class="contacts__text">
			Discover your current English level by taking our free online English
			test. Sign up to our newsletter for learning tips and free resource
		</p>
		<form class="contacts-form">
			<input
				class="contacts-form__input"
				required=""
				type="email"
				name="email"
				placeholder="Enter Your E-mail"
			/>
			<button type="submit" class="contacts-form__btn">Subscribe</button>
		</form>
	</div>
</section>
