//! utils/reset + utils
@import './base/reset';
@import './utils/variables';
@import './utils/breakpoints';
@import './utils/mixins';


//! base
@import './base/common';

//! components
@import './components/container';
@import './components/main-logo';
@import './components/modal-burger-menu';

//! layouts
@import './layouts/01_header';
@import './layouts/02_herol';
@import './layouts/03_skills';
@import './layouts/04_about';
@import './layouts/05_pricing';
@import './layouts/06_contacts';
@import './layouts/07_footer';
